body{
	color: #747704;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

hr{
	color: #BCBBBB;
	border: none;
	height: 4px;
	background-color: #BCBBBB;
}
.super-title{
	font-weight: 100;
	font-size:46px;
}
.tile{
	height: 200px;
	background-size: cover;
	border-radius: 12px;
}
.logo{
	margin-top: 25px;
}
.left-bar{
	border-right: solid 4px #BCBBBB;
}
.explanation{
	line-height: 175%;
}
.code{
	font-family: courier;
	font-size: 16px;
	color: black;
	border-radius: 5px;
	border:solid 1px #;
	background-color: #BCBBBB;
	padding:5px 10px 5px 15px;
}
.lesson{
	padding: 25px;
}
.faded{
	color: #F8981C;
	font-weight: 700;
}