<!DOCTYPE HTML>
<!-- English language -->
<html lang="en">
	<head>
		<!-- Characters -->
		<meta charset="utf-8">
		<!-- In IE, use the las engine -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Josep's Notes</title>
		<link rel="stylesheet" href="stylesheets/bootstrap.css">
		<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<link href='https://fonts.googleapis.com/css?family=Lato:100,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href= "stylesheets/styleStage1.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-3 logo">
					<img src="http://placehold.it/100x100">
				</div>
				<div class="col-md-9 text-right text-uppercase">
					<h1 class="super-title">Intro to Programming ND</h1>
					<h3>Notes and more</h3>
				</div>
			</div> <!-- row -->
			<div class="row">
				<div class="col-md-12">
					<hr>
				</div>
			</div> <!-- row -->
			<!-- This two lines are used to connect to other html files
			any code in other files will be inserted between these two lines -->
			{% block content %}
			{% endblock %}
		</div> <!-- Container -->
	</body>

</html>

<!-- Variables in: name, title, explanation, stage, error_message-->
<!-- Query parameters out: "Stage" -->
<!-- Post parameters out: None -->