
{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-md-4 text-center tile first-tile">
		<img src="http://placehold.it/360x200" class="img-responsive"
		href="/Notes?Stage=Stage+2">
		<a href="/Notes?Stage=Stage+1"><h3>Stage 1</h3></a>
	</div>
	<div class="col-md-4 text-center">
		<img src="http://placehold.it/360x200" class="img-responsive"
		href="/Notes?Stage=Stage+2">
		<a href="/Notes?Stage=Stage+2"><h3>Stage 2</h3></a>
	</div>
	<div class="col-md-4 text-center">
		<img src="http://placehold.it/360x200" class="img-responsive">
		<a href="/Notes?Stage=Stage+3"><h3>Stage 3</h3></a>
	</div>
	<div class="col-md-4 text-center">
		<img src="http://placehold.it/360x200" class="img-responsive">
		<a href="/Notes?Stage=Stage+4"><h3>Stage 4</h3></a>
	</div>
	<div class="col-md-4 text-center">
		<img src="http://placehold.it/360x200" class="img-responsive">
		<a href="/Notes?Stage=Stage+5"><h3>Stage 5</h3></a>
	</div>
	<div class="col-md-4 text-center">
		<img src="http://placehold.it/360x200" class="img-responsive">
		<a href="/RandomStuff"><h3>Random Stuff</h3></a>
	</div>

<div class="row">
{% endblock %}

<!-- Variables in: none-->
<!-- Query parameters out: none-->
<!-- Post parameters out: none -->