
{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-md-4 col-sm-6 col-xs-12 text-center">
		<img src="/images/stage1.jpg" class="img-responsive center-block">
		<a href="/Notes?Stage=Stage+1"><h3>Stage 1</h3></a>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12 text-center">
		<img src="/images/stage2.jpg" class="img-responsive center-block">
		<a href="/Notes?Stage=Stage+2"><h3>Stage 2</h3></a>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12 text-center">
		<img src="/images/stage3.jpg" class="img-responsive center-block">
		<a href="/Notes?Stage=Stage+3"><h3>Stage 3</h3></a>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12 text-center">
		<img src="/images/stage4.jpg" alt="image" class="img-responsive center-block">
		<a href="/Notes?Stage=Stage+4"><h3>Stage 4</h3></a>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12 text-center">
		<img src="/images/stage5.jpg" class="img-responsive center-block">
		<a href="/Notes?Stage=Stage+5"><h3>Stage 5</h3></a>
	</div>

<div class="row">
{% endblock %}

<!-- Variables in: none-->
<!-- Query parameters out: none-->
<!-- Post parameters out: none -->