<!-- We first link this html file to the base.html file -->

{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-md-2 left-bar">
		<a href="/"><h3>Home</h3></a>
		<a href="/Notes?Stage=Stage+1"><h3>Stage 1</h3></a>
		<a href="/Notes?Stage=Stage+2"><h3>Stage 2</h3></a>
		<a href="/Notes?Stage=Stage+3"><h3>Stage 3</h3></a>
		<a href="/Notes?Stage=Stage+4"><h3>Stage 4</h3></a>
		<a href="/Notes?Stage=Stage+5"><h3>Stage 5</h3></a>
		<a href="/Notes?Stage=Random+Stuff"><h3>Random Stuff</h3></a>
	</div>
	<div class="col-md-10">
		<div class = 'text-justify lesson'>
			<h1 class="text-uppercase text-center faded">{{stage}}</h1>
			<!-- We now display all concepts included in the "concepts" variable -->
			{% if concepts %}
				{% for concept in concepts %}
						<h2>{{concept.title}}</h2>
						<p class="explanation">{{concept.explanation}}</p>
				{% endfor %}
			{% endif %}
		</div>
			<hr>
			<h1 class="text-uppercase text-center faded">Comments:</h1>
		<!-- We display all the comments storde in the "comments" variable -->
			{% if comments %}
				{% for comment in comments %}
					<h3>
						<p>{{comment.name}} wrote: {{comment.title}}</p>
					</h3>
					<h4 class="explanation">
						{{comment.explanation}}
					</h4>
					<br>
				{% endfor %}
			{% endif %}
		<!-- Following you find a "form" that allows the user to introduce comments -->
			<form method = "post" action="/InputComments">
				<input type = "hidden" name = "stage" value ='{{stage}}'>
				<label><p>Your <b>name</b> (required):</p>
		<!-- This is a text input box to write your name. Default name is set to "Anonymous" -->
					<input type="text" name = "name" size = "50" value='Anonymous'>
				</label>
				<br>
				<br>
				<label><p><b>Title</b> of your comment (required):</p>
		<!-- This is a text input box to write your name. Default name is set to "Anonymous" -->
					<input type="text" name = "title" size = "50">
				</label>
				<br>
				<br>
				<p>Introduce the <b>comment</b> here (required):</p>
				<br>
				<textarea name = "explanation" rows = "10" cols = "99"></textarea>
				<button><b>Add</b></button><br>
			</form>
			<hr>
		<!-- Now, a user can delete comments here selecting them by name -->
			<h2>You can delete your comments here:</h2>
			<br>
			<form method = "post" action="/DeleteComments">
				<input type="hidden" name = "stage" value = '{{stage}}'>
				<label><p>Choose the comment:</p>
					<select name = "title">
						{% for comment in comments %}
							<option>{{comment.title}}</option>
						{% endfor %}
					</select>
				</label>
				<button>Delete Comment</button>
				<br>
				<br>
				<br>
			</form>

	</div>

</div> <!--row-->






{% endblock %}

<!-- Variables in: concepts, comments, stage-->
<!-- Query parameters out: none-->
<!-- Post parameters out: stage, name, title, explanation -->